<h1 id="tableLabel">Cохраненные пароли</h1>


<p *ngIf="!passwords">Загрузка... Возможно отсутствует соединение с интернетом</p>
<app-notification></app-notification>
<p>
  <app-password-form (onSuccessPasswordSaveEvent)="getPasswords()"></app-password-form>
</p>
<p>
  <app-search [initialPasswords]="passwords" (searchResults)="showPasswords($event)"></app-search>
</p>

<table *ngIf="passwords">
  <thead>
  <tr>
    <th>Ресурс</th>
    <th>Пароль</th>
    <th>Дата сохранения</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let password of passwords">
    <td>{{ password.source }}</td>
    <app-password-display [password]=password.password></app-password-display>
    <td>{{ password.createdDate }}</td>
  </tr>
  </tbody>
</table>
