<h1 id="tableLabel">Ваши сохраненные пароли</h1>


<p *ngIf="!passwords"><em>Loading... Please refresh once the ASP.NET backend has started. See <a
  href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<p>
  <app-password-form></app-password-form>
</p>
<table *ngIf="passwords">
  <thead>
  <tr>
    <th>Ресурс</th>
    <th>Пароль</th>
    <th>Дата сохранения</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let password of passwords">
    <td>{{ password.source }}</td>
    <app-password-display [password]=password.password></app-password-display>
    <td>{{ password.createdDate }}</td>
  </tr>
  </tbody>
</table>
